<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>minidemo</title>
</head>
<body>
    <div class='container'>
        <div>第{{game.round}}回合 人口(空闲/可用):{{game.population_idle}}/{{game.population_labor}}</div>
        <div>总人口：{{game.population_total}}  气温{{game.temperature}}℃  蒸汽塔档位：{{game.fire_level}}  热力{{game.warm}}</div>
        <div>-------</div>
        <div>资源 储量/上限/(消耗)/(生产)</div>
        <div>煤：{{game.stock_coal}}/{{game.capacity_coal}}(-{{game.consumption_coal}})(+{{game.production_coal}})</div>
        <div>木材：{{game.stock_wood}}/{{game.capacity_wood}}(+{{game.production_wood}})</div>
        <div>钢铁：{{game.stock_steel}}/{{game.capacity_steel}}(+{{game.production_steel}})</div>
        <div>食物：{{game.stock_food}}/{{game.capacity_food}}(-{{game.consumption_food}})(+{{game.production_food}})</div>
        <div class='row'>
            <img src="{{url_for('static',filename='scene.jpg')}}" class='col align-self-center' style='max-width:100%'>
        </div>
        <form action="" method="POST">
            <input type="submit" class="btn btn-default" value="打出该卡"/><br>
            {% for card in game.deck_hand.card_list %}
            <label><input name="card_spell" type="radio" value={{card.index}}>
                {{card.card.human}}-{{card.card.human_rounds}}[{{card.card.name}}]{{card.card.description}}
                {% if card.card.counts>0 %}(剩余次数:{{card.card.counts}}){% endif %}
            </label><br>
            {% endfor %}
        </form>
        <form action="" method="POST">
            <input type="submit" name="end" class="btn btn-default" value="结束回合"/>
        </form>

    </div>
</body>
</html>